apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: winmem-api-hpa
  namespace: winmem
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: winmem-api
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: winmem-worker-hpa
  namespace: winmem
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: winmem-worker
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
